<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Zofa Community Soccer</title>
</head>
<body>
    <nav>
        <h1>Z.O.F.A GURUVE SOCCER</h1>
        <div class="links">
            <a href="/">Home</a>
            <a href="/results">Results</a>
            <a href="/teams">Teams</a>
            <a href="/stats">Stats</a>
            <a href="/complains">Complains</a>
            <a href="/view-complains">view Complains</a>
        </div>
    </nav>

    <header class="hero">
        <h2>Welcome to the Heart of Community Soccer</h2>
        <p>Unity Through Football</p>
        <p>Our Soccer Our Pride</p>
    </header>
</body>
</html>